.navigate-to-top-button {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: rgb(233, 138, 66);
  border: none;
  cursor: pointer;
  z-index: 9999;

  &:hover {
    color: rgb(232, 169, 120);
  }
}
