.productDetail-wrapper {
  width: 100%;
  & {
    @media screen and (max-width: 850px) {
      width: 90%;
    }
  }
}

.productDetail-img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.productDetail-object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDetail-spirit {
  background-color: rgb(203, 194, 179);
}

.productDetail-spirit-content {
  width: 50%;
  & {
    @media screen and (max-width: 850px) {
      width: 80%;
    }
  }
}
