.productDetail-img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.productDetail-object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDetail-spirit {
  background-color: rgb(171, 162, 147);
}
