.home-product-swiper-container {
  height: 400px;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: rgb(203, 194, 179);
    border: 3px solid $warning;
    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    color: $primary;
    padding: 25px;
    background-color: $warning;
    border: 1px solid $primary;

    & {
      @media screen and (max-width: 850px) {
        padding: 15px;
      }
    }
  }

  .mySwiper .swiper-button-prev::after,
  .mySwiper .swiper-button-next::after {
    font-size: 20px;
  }
}
